
body{
    margin: 0;
    padding: 0;
    background-image: url("./assest/Imagen.jpg");
    background-position: center;
    background-size: cover;
    min-height: 500px;
    width: 100%; 
    transition: all 2s ease-in 50ms;
} 
    
